<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task Checker</title>
</head>
<body>
  <app-navbar></app-navbar>
    <h1>Task Checker</h1>
    <div class="table-container">
      <table>
        <tr>
          <th><input type="text" placeholder="Add Task Here" [(ngModel)]="taskName"></th>
          <th><button (click)="addName()">ADD</button></th>
        </tr>
        <tr *ngFor="let task of listoftasks; let i = index">
          <td>{{ task.name }}</td>
          <td><button (click)="deleteName(i)">DELETE</button></td>
          <td><input type="checkbox" [(ngModel)]="task.checked"></td>
        </tr>
      </table>
    </div>
    <p *ngIf="this.listoftasks.length >= 6">Cannot exceed more than 6</p>
</body>
</html>